<% provide(:title, 'home') %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBL6zxz1lTVHOXlHyk0Fmw9R3f4b2qe7NBVB2xRtIgBMq6UlZTQZ4Jiw", alt: "Rails logo"),
            'http://rubyonrails.org/' %>


